.banner {
  color: white;
  object-fit: fill;
  height: 448px;
  max-width: 100vw;
  padding-top: 10em;
}

.banner-content {
  margin-left: 2em;
  padding-top: 10em;
}

.banner-title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner-description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
}

.banner-button {
  margin-top: 1em;
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #4c4c4c;
}

.banner-button:hover {
  color: black;
  background-color: white;
  transition: all 0.2s;
}

.fade-banner {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
